/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --gold: rgb(255, 203, 9);
    --text-primary: black;
    --text-secondary: white;
    --background-primary: whitesmoke;
    --background-secundary: black;
    --background-tertiary: white;
  }  





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

