/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	--gold: rgb(255, 203, 9);
	--text-primary: black;
	--text-secondary: white;
	--background-primary: whitesmoke;
	--background-secundary: black;
	--background-tertiary: white;
  }

  

  @font-face {
	  font-family: "geo";
	  src: url("../fonts/regular.woff2");
	  font-weight: 400;
	  font-style: normal;
	}
	
	@font-face {
	  font-family: "geo";
	  src: url("../fonts/bold.woff2");
	  font-weight: 700;
	  font-weight: bold;
	}
	
	@font-face {
	  font-family: "geo";
	  src: url("../fonts/medium.woff2");
	  font-weight: 500;
	  /* font-weight: medium;  WERKT NIET? */
	}
	
	@font-face {
	  font-family: "geo";
	  src: url("../fonts/italic.woff2");
	  font-weight: 400;
	  font-style: italic;
	}
  
  
  
/* -------------------------------- */
/* ALGEMEEN */
/* -------------------------------- */
  
body {
	  margin: 0em;
	  max-width: 100%;
      overflow-x: hidden;
	}
  
  main {
	  font-family: "geo";
  }
  
  a:hover {
	background-color: white;
	transition: 0.5s;
  }
  
  ::selection {
	background-color: rgb(0, 222, 174);
	opacity: 75%;
  }


   /*  voor alle links in de main algemene styling*/

  main a {
	font-size: 0.8em;
	color: black;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	border-color: var(--gold);
	background-color: var(--gold);
	padding: 1em;
	letter-spacing: 0.2em;
  }
  
  
/* -------------------------------- */
/* HEADER */
/* -------------------------------- */
  
  header ul {
  
	translate: -100%;
	position: absolute;
	z-index: 10;
	font-family: "geo";
	color: rgb(0, 0, 0);
	height: 100vh;
	margin-left: 2em;
	padding: 0em;
	list-style: none;
	width: 100%;
	max-width: 100%;
  }
  
  header a:hover {
	color: var(--gold);
	transition: 0.2s;
  }
  
  header li {
	border-bottom-style: solid;
	border-color: lightgray;
	margin: 1em;
	margin: 3em;
	font-size: 1em;
	padding-bottom: 2em;
	font-weight: 500;
  }
  
  header li:first-of-type {
	margin-top: 4em;
  }
  
  header a {
	text-decoration: none;
	color: black;
  }
  
  .is-open {
	translate: -7.2%;
	top: -2.5%;
	background-color: white;
  
  }
  
  nav:first-of-type {
	display: flex;
	justify-content: space-between;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	
  }
  
  header nav button:first-of-type {
	order: -1;
  }
  
  header nav:first-of-type img {
	  height: 1.7em;
  }
  
  
  nav button {
	border: none;
	background: none;
	margin: 0;
	height: 1.7em;
	width: 1.7em;
  }
  
  nav button:first-of-type {
	background-image: url("../images/menuicon.svg");
	background-size: 1.7em 1.7em;
	background-repeat: no-repeat;
  }
  
  .show-close-icon {
	background-image: url("../images/closeicon.svg") !important;
	z-index: 50;
  }
  
  /* Imprtant mocht van Maja, maar beetje valspelen denk ik */
  

  
  
  

/* MEDIA QUERIES */
  

/* Uitklappen burger menu */

	@media (min-width: 1100px) {

	  header {
		position: sticky;
	  }
	  
	  header ul {
		translate: 0%;
		position: static;
		background: none;
		padding: 0;
		display: flex;
		height: 1.7em ;
		border: none;
		align-items: center;
	  }

	header a {
		align-self: center;
	  }
  
	  header nav button:nth-of-type(2) {
		align-self: center;
	  }
  
	  /* Hamburger icoon weg */

	  header button:first-of-type {
		display: none;
	  }
  
	  header button:nth-of-type(2) {
		order: 1;
	  }
  
	  header li {
		border: none;
		background-color: white;
		margin: 0em;
		padding: 1em;
	  }
  
	  header li:first-of-type {
		margin-top: 0em;
	  }

	
	}
  
	
